<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>WebProject</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavePost</display-name>
    <servlet-name>SavePost</servlet-name>
    <servlet-class>com.servlets.SavePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePost</servlet-name>
    <url-pattern>/SavePost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajax</display-name>
    <servlet-name>Ajax</servlet-name>
    <servlet-class>com.servlets.Ajax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajax</servlet-name>
    <url-pattern>/Ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateNote</display-name>
    <servlet-name>updateNote</servlet-name>
    <servlet-class>com.servlets.updateNote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateNote</servlet-name>
    <url-pattern>/updateNote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteNote</display-name>
    <servlet-name>deleteNote</servlet-name>
    <servlet-class>com.servlets.deleteNote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteNote</servlet-name>
    <url-pattern>/deleteNote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeImage</display-name>
    <servlet-name>ChangeImage</servlet-name>
    <servlet-class>com.servlets.ChangeImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeImage</servlet-name>
    <url-pattern>/ChangeImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.servlets.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>